<div class="main-container">
    <div class="first-block">
        <div class="uploads">
            <div class="title">
                <h1>Select a video</h1>
                <div class="button">
                    <input type="file" id="video" accept=".mp4, .wmv, .avi, .mov, .mkv" >
                    <label for="video"><span class="material-symbols-outlined">add</span> upload new video</label>
                </div>
            </div>
            <span class="obs">Videos uploaded to the reference video library can be used in side-by-side comparisons, or can be shared with learners directly.</span>
            <div class="search-area">
                <div class="search-bar">
                    <input class="search-input" type="search" id="upload" placeholder="search">
                    <span class="material-symbols-outlined">search</span>
                    
                </div>
                <div class="display-videos">
                    
                </div>
            </div>
    </div>
</div>