<div class="main-container">
    <div class="first-block">
            <div class="title">
                <h1>Pacttos (Chats)</h1>
            </div>
            <div class="search-area">
                <div class="pacttos-found">
                    <span>No Pacttos Found</span>
                </div>
                <div class="search-bar">
                    <input class="search-input" type="search" id="upload" placeholder="search">
                    <span class="material-symbols-outlined">search</span>
                </div>
                <div class="display-pacttos">
                    
                </div>
            </div>
    </div>
</div>