<div class="main-container">
    <div class="header-actions">
        <div class="left-actions">
            <span>Please edit your Pactto page below.</span>
        </div>
        <div class="right-actions">
            <button class="launch" type="submit">Launch</button>
            <button class="save" type="submit" disabled>Save</button>
        </div>
    </div>
    <div class="content">
        <div class="left">
            <span>Hero</span>
            <mat-form-field>
                <mat-label>Public Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Headline</mat-label>
                <input matInput>
            </mat-form-field>
            <span>About me</span>
            <mat-form-field>
            <mat-label>About me</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <span></span>
            <mat-form-field>
                <mat-label>Expertise title</mat-label>
                <input matInput>
            </mat-form-field>
            <span></span>
            <mat-form-field>
                <mat-label>Expertise 1</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Add expertise</mat-label>
                <input matInput>
            </mat-form-field>
            <span></span>
            <mat-form-field>
                <mat-label>Awards title</mat-label>
                <input matInput>
            </mat-form-field>
            <span></span>
            <mat-form-field>
                <mat-label>Award 1</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Add award</mat-label>
                <input matInput>
            </mat-form-field>
            <span>Give me a follow</span>
            <mat-form-field>
                <mat-label>www.pactto.com</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Add social media channel</mat-label>
                <input matInput>
            </mat-form-field>
            <span>Youtube video</span>
            <mat-form-field>
                <mat-label>Youtube video url</mat-label>
                <input matInput>
            </mat-form-field>
            <span>Footer</span>
            <mat-form-field>
            <mat-label>Quote</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Quote author</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="right">
            <div class="avatar">
                <span>Avatar</span>
                <div class="image">
                    <image-upload></image-upload>
                </div>
            </div>
            <div class="carousel">
                <span class="title">Carousel</span>
                <div class="button">
                    <input type="file" id="video" accept=".mp4, .wmv, .avi, .mov, .mkv" >
                    <label for="video"><span class="material-symbols-outlined">add</span>Add image</label>
                </div>

            </div>
        </div>
    </div>
</div>


