<div class="container">
    <div class="side-menu">
        <div class="info-section">
            <div class="logo">
                <img src="assets/imgs/pactto-logo.svg" alt="logo">
                <span class="material-symbols-outlined">close</span>
            </div>
            <div class="subtitle">Your Pactto profile</div>
            <div class="user-info">
                <div class="profile">
                    <img src="/assets/imgs/1580834428477.jpg" alt="avatar">
                    <div class="account-info">
                        <div class="days-left">trial: 00 days left</div>
                        <div class="type">pactto pro</div>
                    </div>
                    <div class="action">upgrade</div>
                </div>
                <div class="name">{{name}}</div>
                <div class="description">Pactto member since 2024</div>
            </div>
        </div>
        <div class="navigation-section">
            <a href="/home" class="home">
                <span class="material-symbols-outlined">cottage</span>
                <span class="text">Home</span>
            </a>
            <a href="/pacttos" class="pacctos">
                <span class="material-symbols-outlined">forum</span>
                <span class="text">Pacttos (Chats)</span>
            </a>
            <a href="/videos-to-review" class="items-review">
                <span class="material-symbols-outlined">video_library</span>
                <span class="text">Items to review</span>
            </a>
            <a href="/shared-links" class="web-links">
                <span class="material-symbols-outlined">link</span>
                <span class="text">Web links you created</span>
            </a>
            <a href="/personal-info" class="personal-info">
                <span class="material-symbols-outlined">manage_accounts</span>
                <span class="text">Personal information</span>
            </a>
            <a href="/packages" class="review-packages">
                <span class="material-symbols-outlined">redeem</span>
                <span class="text">Review packages for sale</span>
            </a>
            <a href="/profile" class="website">
                <span class="material-symbols-outlined">view_carousel</span>
                <span class="text">Pactto website</span>
            </a>
            <a href="/library" class="library">
                <span class="material-symbols-outlined">live_tv</span>
                <span class="text">Reference video library</span>
            </a>
            <a href="/subscription" class="subscription">
                <span class="material-symbols-outlined">subscriptions</span>
                <span class="text">Subscription</span>
            </a>
            <a href="/review-settings" class="settings">
                <span class="material-symbols-outlined">settings</span>
                <span class="text">Review Settings</span>
            </a>
        </div>
    </div>
    <div class="footer">
        <button>Logout</button>
    </div>
</div>