<div class="main-container">
    <div class="first-block">
        <div class="welcome">
            <h1>Hey {{firstName}}, welcome do Pactto!</h1>
        </div>
        <div class="to-do-list">
            <ul class="list">
                <li>
                    <span class="todo">To do</span>
                    <span class="text">Open your inbox and verify your email</span>
    
                </li>
                <li>
                    <span class="todo">To do</span>
                    <span class="text">Check the <a href="https://youtu.be/CvbvDGsZsKM?si=j8Hi4uCL0oKfX7oU&t=93" target="_blank">short video of Pactto in action</a></span>
                    
                </li>
                <li>
                    <span class="todo">To do</span>
                    <span class="text">Wanna record your computer screen or review files? Download Pactto for <a href="https://www.pactto.com/#download" target="_blank">Mac</a> or <a href="https://www.pactto.com/#download" target="_blank">Windows</a></span>
                    
                </li>
                <li>
                    <span class="todo">To do</span>
                    <span class="text">Wanna review videos, images or audio files with your phone or tablet? Download Pactto for <a href="https://apps.apple.com/us/app/pactto-record-video-feedback/id1662226619" target="_blank">iOS</a> or <a href="https://play.google.com/store/apps/details?id=com.pactto.replay" target="_blank">Android</a></span>
                    
                </li>
            </ul>
        </div>
    </div>
    <div class="uploads">
        <div class="title">
            <h1>My Uploads</h1>
            <div class="button">
                <input type="file" id="video" accept=".mp4, .wmv, .avi, .mov, .mkv" >
                <label for="video"><span class="material-symbols-outlined">add</span> upload new video</label>
            </div>
        </div>
        <div class="search-area">
            <div class="search-bar">
                <input class="search-input" type="search" id="upload" placeholder="search">
                <span class="material-symbols-outlined">search</span>
                
            </div>
            <div class="display-videos">
                
            </div>
        </div>
    </div>
</div>

