<div class="main-container">
    <div class="first-block">
        <div class="subscription-status">
            <div class="text"><p>You have access to </p><p class="white">PACTTO PRO</p><p> as a trial. </p><p class="white">7 days left</p></div>
        </div>
        <div class="subscription-button">
            <button>subscribe to pactto pro</button>
        </div>
        <div class="list-title">
            <p>The PACTTO PRO subscription allows you to:</p>
        </div>
        <div class="list">
            <ul>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text">Every feature on the FREE plan</span>
                </li>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text">Full access to the Pactto app on iPhones, iPads, Android, Mac, Windows, and Web</span>
                </li>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text">Max screen recording duration on Pactto Desktop: unlimited</span>
                </li>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text">Max review duration on mobile: unlimited</span>
                </li>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text">Max review duration on Pactto Web: 12 minutes</span>
                </li>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text">Max review duration on Pactto Desktop: 20 minutes</span>
                </li>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text">Manage and use your reference video library on the Web and Desktop</span>
                </li>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text">Review videos uploaded by you, using the browser</span>
                </li>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text">Add your own logo to create branded reviews</span>
                </li>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text">If you sell reviews, the Pactto take rate for paid reviews is 3%, instead of 12% for free users</span>
                </li>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text"><a href="https://pactto.mintlify.app/introduction" target="_blank">Integrate Pactto to your website</a> so anyone can send, and pay, for your video feedback</span>
                </li>
                <li>
                    <span class="material-symbols-outlined">check</span>
                    <span class="text">Share your videos with others (no more sending video files around)</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>